# Import libraries

In [ ]:
conda install -c conda-forge mlxtend

In [ ]:
pip install mlxtend

In [4]:
pd.set_option("display.max_rows",500)

In [5]:
import pandas as pd
from mlxtend.frequent_patterns import apriori,association_rules
from mlxtend.preprocessing import TransactionEncoder
 #conda install -c conda-forge mlxtend

In [6]:
ls

Association Rules.ipynb      Recommendation Engine.ipynb
Movie.csv                    Titanic.csv

In [7]:
titanic = pd.read_csv("Titanic.csv")
titanic.head()

  Class Gender    Age Survived
0   3rd   Male  Child       No
1   3rd   Male  Child       No
2   3rd   Male  Child       No
3   3rd   Male  Child       No
4   3rd   Male  Child       No

In [8]:
for i in titanic.columns:
    print(i)
    print(titanic[i].value_counts())
    print()

Class
Crew    885
3rd     706
1st     325
2nd     285
Name: Class, dtype: int64

Gender
Male      1731
Female     470
Name: Gender, dtype: int64

Age
Adult    2092
Child     109
Name: Age, dtype: int64

Survived
No     1490
Yes     711
Name: Survived, dtype: int64

# Pre-Processing
As the data is not in transaction formation 
We are using transaction Encoder

In [9]:
df=pd.get_dummies(titanic)
df.head()

,Class_1st,Class_2nd,Class_3rd,Class_Crew,Gender_Female,Gender_Male,Age_Adult,Age_Child,Survived_No,Survived_Yes
0,0,0,1,0,0,1,0,1,1,0
1,0,0,1,0,0,1,0,1,1,0
2,0,0,1,0,0,1,0,1,1,0
3,0,0,1,0,0,1,0,1,1,0
4,0,0,1,0,0,1,0,1,1,0

# Apriori Algorithm

In [10]:
frequent_itemsets = apriori(df, min_support=0.1, use_colnames=True)
frequent_itemsets

     support                                           itemsets
0   0.147660                                        (Class_1st)
1   0.129487                                        (Class_2nd)
2   0.320763                                        (Class_3rd)
3   0.402090                                       (Class_Crew)
4   0.213539                                    (Gender_Female)
5   0.786461                                      (Gender_Male)
6   0.950477                                        (Age_Adult)
7   0.676965                                      (Survived_No)
8   0.323035                                     (Survived_Yes)
9   0.144934                             (Class_1st, Age_Adult)
10  0.118582                             (Class_2nd, Age_Adult)
11  0.231713                           (Class_3rd, Gender_Male)
12  0.284871                             (Class_3rd, Age_Adult)
13  0.239891                           (Class_3rd, Survived_No)
14  0.391640                          (Class_Crew, Gender_Male)
15  0.402090                            (Class_Crew, Age_Adult)
16  0.305770                          (Class_Crew, Survived_No)
17  0.193094                         (Gender_Female, Age_Adult)
18  0.156293                      (Gender_Female, Survived_Yes)
19  0.757383                           (Gender_Male, Age_Adult)
20  0.619718                         (Survived_No, Gender_Male)
21  0.166742                        (Gender_Male, Survived_Yes)
22  0.653339                           (Survived_No, Age_Adult)
23  0.297138                          (Survived_Yes, Age_Adult)
24  0.209905                (Class_3rd, Gender_Male, Age_Adult)
25  0.191731              (Class_3rd, Survived_No, Gender_Male)
26  0.216265                (Class_3rd, Survived_No, Age_Adult)
27  0.391640               (Class_Crew, Gender_Male, Age_Adult)
28  0.304407             (Class_Crew, Survived_No, Gender_Male)
29  0.305770               (Class_Crew, Survived_No, Age_Adult)
30  0.143571           (Gender_Female, Survived_Yes, Age_Adult)
31  0.603816              (Survived_No, Gender_Male, Age_Adult)
32  0.153567             (Gender_Male, Survived_Yes, Age_Adult)
33  0.175829   (Class_3rd, Survived_No, Gender_Male, Age_Adult)
34  0.304407  (Class_Crew, Survived_No, Gender_Male, Age_Adult)

In [11]:
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Class_1st),(Age_Adult),0.147660,0.950477,0.144934,0.981538,1.032680,0.004587,2.682493
1,(Age_Adult),(Class_1st),0.950477,0.147660,0.144934,0.152486,1.032680,0.004587,1.005694
2,(Class_3rd),(Survived_No),0.320763,0.676965,0.239891,0.747875,1.104747,0.022745,1.281251
3,(Survived_No),(Class_3rd),0.676965,0.320763,0.239891,0.354362,1.104747,0.022745,1.052040
4,(Class_Crew),(Gender_Male),0.402090,0.786461,0.391640,0.974011,1.238474,0.075412,8.216621
5,(Gender_Male),(Class_Crew),0.786461,0.402090,0.391640,0.497978,1.238474,0.075412,1.191004
6,(Class_Crew),(Age_Adult),0.402090,0.950477,0.402090,1.000000,1.052103,0.019913,inf
7,(Age_Adult),(Class_Crew),0.950477,0.402090,0.402090,0.423040,1.052103,0.019913,1.036311
8,(Class_Crew),(Survived_No),0.402090,0.676965,0.305770,0.760452,1.123325,0.033569,1.348519
9,(Survived_No),(Class_Crew),0.676965,0.402090,0.305770,0.451678,1.123325,0.033569,1.090436
10,(Gender_Female),(Survived_Yes),0.213539,0.323035,0.156293,0.731915,2.265745,0.087312,2.525187
11,(Survived_Yes),(Gender_Female),0.323035,0.213539,0.156293,0.483826,2.265745,0.087312,1.523634
12,(Gender_Male),(Age_Adult),0.786461,0.950477,0.757383,0.963027,1.013204,0.009870,1.339441
13,(Age_Adult),(Gender_Male),0.950477,0.786461,0.757383,0.796845,1.013204,0.009870,1.051116
14,(Survived_No),(Gender_Male),0.676965,0.786461,0.619718,0.915436,1.163995,0.087312,2.525187
15,(Gender_Male),(Survived_No),0.786461,0.676965,0.619718,0.787984,1.163995,0.087312,1.523634
16,(Survived_No),(Age_Adult),0.676965,0.950477,0.653339,0.965101,1.015386,0.009900,1.419023
17,(Age_Adult),(Survived_No),0.950477,0.676965,0.653339,0.687380,1.015386,0.009900,1.033317
18,"(Class_3rd, Survived_No)",(Gender_Male),0.239891,0.786461,0.191731,0.799242,1.016252,0.003066,1.063667
19,"(Class_3rd, Gender_Male)",(Survived_No),0.231713,0.676965,0.191731,0.827451,1.222295,0.034870,1.872135
20,(Survived_No),"(Class_3rd, Gender_Male)",0.676965,0.231713,0.191731,0.283221,1.222295,0.034870,1.071861
21,(Gender_Male),"(Class_3rd, Survived_No)",0.786461,0.239891,0.191731,0.243790,1.016252,0.003066,1.005156
22,"(Class_3rd, Age_Adult)",(Survived_No),0.284871,0.676965,0.216265,0.759171,1.121433,0.023418,1.341344
23,"(Survived_No, Age_Adult)",(Class_3rd),0.653339,0.320763,0.216265,0.331015,1.031961,0.006698,1.015325
24,(Class_3rd),"(Survived_No, Age_Adult)",0.320763,0.653339,0.216265,0.674221,1.031961,0.006698,1.064097
25,(Survived_No),"(Class_3rd, Age_Adult)",0.676965,0.284871,0.216265,0.319463,1.121433,0.023418,1.050831
26,"(Class_Crew, Gender_Male)",(Age_Adult),0.391640,0.950477,0.391640,1.000000,1.052103,0.019395,inf
27,"(Class_Crew, Age_Adult)",(Gender_Male),0.402090,0.786461,0.391640,0.974011,1.238474,0.075412,8.216621
28,"(Gender_Male, Age_Adult)",(Class_Crew),0.757383,0.402090,0.391640,0.517097,1.286022,0.087104,1.238157
29,(Class_Crew),"(Gender_Male, Age_Adult)",0.402090,0.757383,0.391640,0.974011,1.286022,0.087104,9.335480
30,(Gender_Male),"(Class_Crew, Age_Adult)",0.786461,0.402090,0.391640,0.497978,1.238474,0.075412,1.191004
31,(Age_Adult),"(Class_Crew, Gender_Male)",0.950477,0.391640,0.391640,0.412046,1.052103,0.019395,1.034706
32,"(Class_Crew, Survived_No)",(Gender_Male),0.305770,0.786461,0.304407,0.995542,1.265851,0.063931,47.903983
33,"(Class_Crew, Gender_Male)",(Survived_No),0.391640,0.676965,0.304407,0.777262,1.148157,0.039280,1.450292
34,"(Survived_No, Gender_Male)",(Class_Crew),0.619718,0.402090,0.304407,0.491202,1.221623,0.055225,1.175143
35,(Class_Crew),"(Survived_No, Gender_Male)",0.402090,0.619718,0.304407,0.757062,1.221623,0.055225,1.565346
36,(Survived_No),"(Class_Crew, Gender_Male)",0.676965,0.391640,0.304407,0.449664,1.148157,0.039280,1.105434
37,(Gender_Male),"(Class_Crew, Survived_No)",0.786461,0.305770,0.304407,0.387060,1.265851,0.063931,1.132622
38,"(Class_Crew, Survived_No)",(Age_Adult),0.305770,0.950477,0.305770,1.000000,1.052103,0.015143,inf
39,"(Class_Crew, Age_Adult)",(Survived_No),0.402090,0.676965,0.305770,0.760452,1.123325,0.033569,1.348519
40,"(Survived_No, Age_Adult)",(Class_Crew),0.653339,0.402090,0.305770,0.468011,1.163946,0.043069,1.123915
41,(Class_Crew),"(Survived_No, Age_Adult)",0.402090,0.653339,0.305770,0.760452,1.163946,0.043069,1.447145
42,(Survived_No),"(Class_Crew, Age_Adult)",0.676965,0.402090,0.305770,0.451678,1.123325,0.033569,1.090436
43,(Age_Adult),"(Class_Crew, Survived_No)",0.950477,0.305770,0.305770,0.321702,1.052103,0.015143,1.023488
44,"(Gender_Female, Age_Adult)",(Survived_Yes),0.193094,0.323035,0.143571,0.743529,2.301699,0.081195,2.639542
45,"(Survived_Yes, Age_Adult)",(Gender_Female),0.297138,0.213539,0.143571,0.483180,2.262724,0.080121,1.521732
46,(Gender_Female),"(Survived_Yes, Age_Adult)",0.213539,0.297138,0.143571,0.672340,2.262724,0.080121,2.145099
47,(Survived_Yes),"(Gender_Female, Age_Adult)",0.323035,0.193094,0.143571,0.444444,2.301699,0.081195,1.452431
48,"(Survived_No, Gender_Male)",(Age_Adult),0.619718,0.950477,0.603816,0.974340,1.025106,0.014788,1.929980
49,"(Survived_No, Age_Adult)",(Gender_Male),0.653339,0.786461,0.603816,0.924200,1.175139,0.089991,2.817152
50,"(Gender_Male, Age_Adult)",(Survived_No),0.757383,0.676965,0.603816,0.797241,1.177669,0.091095,1.593193
51,(Survived_No),"(Gender_Male, Age_Adult)",0.676965,0.757383,0.603816,0.891946,1.177669,0.091095,2.245337
52,(Gender_Male),"(Survived_No, Age_Adult)",0.786461,0.653339,0.603816,0.767764,1.175139,0.089991,1.492710
53,(Age_Adult),"(Survived_No, Gender_Male)",0.950477,0.619718,0.603816,0.635277,1.025106,0.014788,1.042660
54,"(Class_3rd, Survived_No, Age_Adult)",(Gender_Male),0.216265,0.786461,0.175829,0.813025,1.033777,0.005745,1.142075
55,"(Class_3rd, Gender_Male, Age_Adult)",(Survived_No),0.209905,0.676965,0.175829,0.837662,1.237379,0.033731,1.989896
56,"(Class_3rd, Gender_Male)","(Survived_No, Age_Adult)",0.231713,0.653339,0.175829,0.758824,1.161454,0.024442,1.437373
57,"(Survived_No, Age_Adult)","(Class_3rd, Gender_Male)",0.653339,0.231713,0.175829,0.269124,1.161454,0.024442,1.051186
58,(Survived_No),"(Class_3rd, Gender_Male, Age_Adult)",0.676965,0.209905,0.175829,0.259732,1.237379,0.033731,1.067309
59,(Gender_Male),"(Class_3rd, Survived_No, Age_Adult)",0.786461,0.216265,0.175829,0.223570,1.033777,0.005745,1.009408
60,"(Class_Crew, Survived_No, Gender_Male)",(Age_Adult),0.304407,0.950477,0.304407,1.000000,1.052103,0.015075,inf
61,"(Class_Crew, Survived_No, Age_Adult)",(Gender_Male),0.305770,0.786461,0.304407,0.995542,1.265851,0.063931,47.903983
62,"(Class_Crew, Gender_Male, Age_Adult)",(Survived_No),0.391640,0.676965,0.304407,0.777262,1.148157,0.039280,1.450292
63,"(Survived_No, Gender_Male, Age_Adult)",(Class_Crew),0.603816,0.402090,0.304407,0.504138,1.253795,0.061619,1.205800
64,"(Class_Crew, Survived_No)","(Gender_Male, Age_Adult)",0.305770,0.757383,0.304407,0.995542,1.314450,0.072822,54.427079
65,"(Class_Crew, Gender_Male)","(Survived_No, Age_Adult)",0.391640,0.653339,0.304407,0.777262,1.189676,0.048533,1.556362
66,"(Class_Crew, Age_Adult)","(Survived_No, Gender_Male)",0.402090,0.619718,0.304407,0.757062,1.221623,0.055225,1.565346
67,"(Survived_No, Gender_Male)","(Class_Crew, Age_Adult)",0.619718,0.402090,0.304407,0.491202,1.221623,0.055225,1.175143
68,"(Survived_No, Age_Adult)","(Class_Crew, Gender_Male)",0.653339,0.391640,0.304407,0.465925,1.189676,0.048533,1.139090
69,"(Gender_Male, Age_Adult)","(Class_Crew, Survived_No)",0.757383,0.305770,0.304407,0.401920,1.314450,0.072822,1.160764
70,(Class_Crew),"(Survived_No, Gender_Male, Age_Adult)",0.402090,0.603816,0.304407,0.757062,1.253795,0.061619,1.630802
71,(Survived_No),"(Class_Crew, Gender_Male, Age_Adult)",0.676965,0.391640,0.304407,0.449664,1.148157,0.039280,1.105434
72,(Gender_Male),"(Class_Crew, Survived_No, Age_Adult)",0.786461,0.305770,0.304407,0.387060,1.265851,0.063931,1.132622
73,(Age_Adult),"(Class_Crew, Survived_No, Gender_Male)",0.950477,0.304407,0.304407,0.320268,1.052103,0.015075,1.023334

#####  An leverage value of 0 indicates independence. Range will be [-1 1]
A high conviction value means that the consequent is highly depending on the antecedent and range [0 inf]

In [27]:
rules.sort_values('lift',ascending = False)[0:20]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
45,"(Gender_Female, Age_Adult)",(Survived_Yes),0.193094,0.323035,0.143571,0.743529,2.301699,0.081195,2.639542
46,(Survived_Yes),"(Gender_Female, Age_Adult)",0.323035,0.193094,0.143571,0.444444,2.301699,0.081195,1.452431
10,(Survived_Yes),(Gender_Female),0.323035,0.213539,0.156293,0.483826,2.265745,0.087312,1.523634
11,(Gender_Female),(Survived_Yes),0.213539,0.323035,0.156293,0.731915,2.265745,0.087312,2.525187
47,(Gender_Female),"(Survived_Yes, Age_Adult)",0.213539,0.297138,0.143571,0.672340,2.262724,0.080121,2.145099
44,"(Survived_Yes, Age_Adult)",(Gender_Female),0.297138,0.213539,0.143571,0.483180,2.262724,0.080121,1.521732
68,"(Survived_No, Class_Crew)","(Gender_Male, Age_Adult)",0.305770,0.757383,0.304407,0.995542,1.314450,0.072822,54.427079
65,"(Gender_Male, Age_Adult)","(Survived_No, Class_Crew)",0.757383,0.305770,0.304407,0.401920,1.314450,0.072822,1.160764
26,"(Gender_Male, Age_Adult)",(Class_Crew),0.757383,0.402090,0.391640,0.517097,1.286022,0.087104,1.238157
31,(Class_Crew),"(Gender_Male, Age_Adult)",0.402090,0.757383,0.391640,0.974011,1.286022,0.087104,9.335480
72,(Gender_Male),"(Class_Crew, Survived_No, Age_Adult)",0.786461,0.305770,0.304407,0.387060,1.265851,0.063931,1.132622
33,"(Survived_No, Class_Crew)",(Gender_Male),0.305770,0.786461,0.304407,0.995542,1.265851,0.063931,47.903983
36,(Gender_Male),"(Survived_No, Class_Crew)",0.786461,0.305770,0.304407,0.387060,1.265851,0.063931,1.132622
61,"(Class_Crew, Survived_No, Age_Adult)",(Gender_Male),0.305770,0.786461,0.304407,0.995542,1.265851,0.063931,47.903983
73,(Class_Crew),"(Survived_No, Gender_Male, Age_Adult)",0.402090,0.603816,0.304407,0.757062,1.253795,0.061619,1.630802
60,"(Survived_No, Gender_Male, Age_Adult)",(Class_Crew),0.603816,0.402090,0.304407,0.504138,1.253795,0.061619,1.205800
27,"(Class_Crew, Age_Adult)",(Gender_Male),0.402090,0.786461,0.391640,0.974011,1.238474,0.075412,8.216621
5,(Class_Crew),(Gender_Male),0.402090,0.786461,0.391640,0.974011,1.238474,0.075412,8.216621
4,(Gender_Male),(Class_Crew),0.786461,0.402090,0.391640,0.497978,1.238474,0.075412,1.191004
30,(Gender_Male),"(Class_Crew, Age_Adult)",0.786461,0.402090,0.391640,0.497978,1.238474,0.075412,1.191004

In [28]:
rules[rules.lift>1]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Class_1st),(Age_Adult),0.147660,0.950477,0.144934,0.981538,1.032680,0.004587,2.682493
1,(Age_Adult),(Class_1st),0.950477,0.147660,0.144934,0.152486,1.032680,0.004587,1.005694
2,(Survived_No),(Class_3rd),0.676965,0.320763,0.239891,0.354362,1.104747,0.022745,1.052040
3,(Class_3rd),(Survived_No),0.320763,0.676965,0.239891,0.747875,1.104747,0.022745,1.281251
4,(Gender_Male),(Class_Crew),0.786461,0.402090,0.391640,0.497978,1.238474,0.075412,1.191004
...,...,...,...,...,...,...,...,...,...
69,"(Gender_Male, Class_Crew)","(Survived_No, Age_Adult)",0.391640,0.653339,0.304407,0.777262,1.189676,0.048533,1.556362
70,(Age_Adult),"(Survived_No, Gender_Male, Class_Crew)",0.950477,0.304407,0.304407,0.320268,1.052103,0.015075,1.023334
71,(Survived_No),"(Class_Crew, Gender_Male, Age_Adult)",0.676965,0.391640,0.304407,0.449664,1.148157,0.039280,1.105434
72,(Gender_Male),"(Class_Crew, Survived_No, Age_Adult)",0.786461,0.305770,0.304407,0.387060,1.265851,0.063931,1.132622
73,(Class_Crew),"(Survived_No, Gender_Male, Age_Adult)",0.402090,0.603816,0.304407,0.757062,1.253795,0.061619,1.630802